{% extends 'store/layouts/main.html' %}
{% load static %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login Here</title>
    
    {% comment %} <link rel="stylesheet" href={% static 'css/login.css' %}> {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" >
  </head>
<body>
    <style>
        form-group{}
        text-transform:lowercase;
    </style>
    <div class="container mt-4 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="">
                <div class="card nt-3 shadow">
                    <div class="card-body">
                        <form action="" method="POST" class="register">
                            {% csrf_token %}
                            <div class="text-center ">
                                <h4> Register Here</h4>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for=""> Username :</label>
                                {{form.username}}
                                {% if form.errors.username %}
                                    <label class="text-danger"> {{ form.errors.username }} </label>   
                                {% endif %}

                            </div>
                            <div class="form-group">
                                <label for=""> First Name :</label>
                                {{form.first_name}}
                                {% if form.errors.first_name %}
                                    <label class="text-danger"> {{ form.errors.first_names }} </label>   
                                {% endif %}

                            </div>
                            <div class="form-group">
                                <label for=""> Last Name :</label>
                                {{form.last_name}}
                                {% if form.errors.last_name %}
                                    <label class="text-danger"> {{ form.errors.last_name }} </label>   
                                {% endif %}

                            </div>
                            <div class="form-group" style="">
                                <label for=""> Email :</label>
                                {{form.email}}
                                {% if form.errors.email %}
                                    <input class="text-danger"> {{ form.errors.email }} </input>   
                                {% endif %}

                            </div>
                            <div class="form-group">
                                <label for=""> Password :</label>
                                {{form.password1}}
                                {% if form.errors.password1%}
                                    <label class="text-danger"> {{ form.errors.password1 }} </label>   
                                {% endif %}

                            </div>
                            <div class="form-group">
                                <label for=""> Confirm Password :</label>
                                {{form.password2}}
                                {% if form.errors.password2 %}
                                    <input class="text-danger"> {{ form.errors.password2 }} </input>   
                                {% endif %}

                            </div>
                            <div class="text-center">
                            <button type="submit" class="btn btn-primary">Register</button>
                            </div>

                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock content %} 