{% extends 'store/layouts/main.html' %}
{% load static %}
{% block content %} 

<link rel="stylesheet" href={% static 'css/cart.css' %}>
<div class="name">
    <div class="container">
        <a class="text" href="{% url 'home' %}">Home</a>
        <a class="number">+919146918685</a>
        {% comment %} <a class="text-white" href="{% url 'cart' %}">Cart </a> {% endcomment %}

    </div>
</div>
    
        <div class="container"> 
            <div class="row">
                <section class="features" id="features">
                    <h1 class="heading">Cart<span>Items</span></h1>
                </section>
                <div class ="col-md-12">
                    
                    <div class="card shadow">    
                        <div class="cart-body cartdata">
                            {% if cart %}
                                {% for item in cart %}
                                <div class="row product_data">
                                    <div class="col-md-2 my-auto">
                                        <img src="{{ item.product.product_image.url }}" height="70px" width="70px" alt="Image here">
                                    </div>
                                    <div class="col-md-3 my-auto">
                                        <h6>{{ item.product.name }}</h6>
                                    </div>
                                    <div class="col-md-2 my-auto">
                                        {% if item.product.selling_price %}
                                        <h6> Rs {{ item.product.selling_price | stringformat:'d' }}</h6>
                                        {% endif %} 
                                        {% if item.product.dozon_price  %}
                                        <h6> Rs {{ item.product.dozon_price | stringformat:'d' }}</h6>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-3 my-auto">
                                        <input type="hidden" class="prod_id" value="{{ item.product_id }}" >
                                        {% csrf_token %}
                                        {% if item.product.quantity >= item.product_qty %}
                                            <label for="Quantity">Quantity</label>
                                            <div class="input-group text-center mb-3" style="width:130px;">
                                                <button class="input-group-text changeQuantity decrement-btn">-</button>
                                                <input type="text" name="quantity" class="form-control qty-input text-center" value="{{ item.product_qty }}" >
                                                <button class="input-group-text changeQuantity increment-btn">+</button>
                                                
                                            </div>
                                            
                                        {% else %}
                                            <h6> Out of Stock </h6>
                                        {% endif %}
                                    </div>
                                    
                                    <div class="col-md-2 my-auto">
                                        <button class="btn btn-danger delete-cart-item"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                          </svg> <i class="bi bi-trash"></i>Remove</button>
                                    </div>
                                </div>                               
                                {% endfor %}
                                <a href="{% url 'checkout' %}" class="btn btn-outline-success float-end" >Checkout</a>
                                
                            {% else %}
                                <section>
                                    <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg>
                                    </div>
                                    <div class="icon_name">Your cart is empty !</div>

                                </section>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    


{% endblock content %} 