{% extends 'store/layouts/main.html' %}
{% load static %}
{% block content %} 

<html>
    <link rel="stylesheet" href={% static 'css/wishlist.css' %}>
<div class="name">
    <div class="container">
        <a class="text" href="{% url 'home' %}">Home</a>
        <a class="number">+919146918685</a>
        {% comment %} <a class="text-white" href="{% url 'wishlist' %}"> Wishlist </a> {% endcomment %}

    </div>
</div>

</div>

    <div class="container"> 
        <div class="row">
            <section class="features" id="features">
                <h1 class="heading">My<span>Wishlist</span></h1>
            </section>
            <div class ="col-md-12">
                <div class="card shadow">    
                    <div class="cart-body wishdata">
                        {% if wishlist %}
                            {% for item in wishlist %}
                            <div class="row product_data">
                                <div class="col-md-2 my-auto">
                                    <img src="{{ item.product.product_image.url }}" height="70px" width="70px" alt="Image here">
                                </div>
                                <div class="col-md-3 my-auto">
                                    <h6>{{ item.product.name }}</h6>
                                </div>
                                <div class="col-md-2 my-auto">
                                    <h6> Rs {{ item.product.selling_price | stringformat:'d' }}</h6>
                                </div>
                                <div class="col-md-3 my-auto">
                                    <input type="hidden" class="prod_id" value="{{ item.product_id }}" >
                                    {% csrf_token %}
                                    <a href="{% url 'productview' item.product.category.slug item.product.slug  %}" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                      </svg>
                                        <i class="fa fa-eye"></i>View Product</a>
                                </div>
                                <div class="col-md-2 my-auto">
                                    <button class="btn btn-danger delete-wishlist-item"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                      </svg> <i class="bi bi-trash"></i> Remove</button>
                                </div>
                            </div>                               
                            {% endfor %}
                        {% else %}
                        <section>
                            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="130" height="130" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                              </svg>
                            </div>
                            <div class="icon_name">Your wishlist is empty !</div>

                        </section>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>

{% endblock content %} 