.heading{
    text-align: start;
    /* padding: 1rem 0; */
    font-size: 2rem;
    /* padding-bottom: non; */
    color: var(--black);
	margin-bottom: .1rem ;
	
}

.features {
	text-align: start;
    /* padding: 1rem 0; */
    font-size: 2rem;
    /* padding-bottom: 1rem; */
    color: var(--black);
    background: var(--orange);
    color: #fff;
    display: inline-block;
    clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%, 0% 0%);
    padding: .1rem 1.5rem;
	margin-bottom: .5rem;
	margin-top: .1rem;
	
}
.features:hover{
    background:rgb(31, 66, 243);
    cursor: pointer;
}
.features span{
	margin-top: 1px;
}
.prod{
	background:lavender;
	padding-bottom: 1rem;
	padding-top: 1rem;
	font-family: 'Poppins',sans-serif;
}
.prod .hii{
	border-radius: 1rem;
	
	
}
.prod .hii:hover{
	
	border-color: var(--orange);
}
.prod .quant{
	/* mb-1 text-center */
	margin-bottom: 2px;
	text-align: center;
	font-weight: bolder;
	color: var(--black);
	background: var(--orange);
}
.img{
	background:none;
	outline: none;
	border-radius: 1rem;
	padding: .5rem;
}

.lead{
	font-weight: bolder;
	color: var(--black);
}
.footer{
	background: #ffff;

}
.footer .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 1.2rem;
	margin-left: 1rem;
	

}
.footer .box-container .box h3{
	font-size: 2.5rem;
	color: var(--black);
	padding: 1rem 0;
}
.footer .box-container .box i{
	color: var(--orange);
}
.footer .box-container .box a{
	display: block;
	font-size: 1rem;
	color: var(--light-color);
	padding: 1rem 0;
}
.footer .box-container .box a i{
	color: var(--orange);
	padding-right: .5rem;
}
.footer .box-container .box a:hover i{
	padding-right: 2rem;
}
.footer .box-container .box p{
	line-height: 1.8;
	font-size: 1rem;
	color: var(--light-color);
	padding: 1rem 0;
}


































/* Media Queries */
@media(max-width:991px){
	html{
		font-size: 55%;
	}
	.header{
		padding: 2rem;
	}
}

@media(max-width:768px){

	#menu-btn{
		display: inline-block;
	}

	.header .navbar{
		position: absolute;
		top: 110%; right: -110%;
		width: 30rem;
		box-shadow: var(--box-shadow);
		border-radius: .5rem;
		background: #fff;

	}
	.header .navbar.active{
		right: 2rem;
		transition: .4s linear;

	}

	.header .navbar a{
		font-size: 2rem;
		margin: 2rem 2.5rem;
		display: block;

	}

}


@media(max-width:450px){
	html{
		size: 50%;
	}
    .heading{
        font-size: 2.5rem;
    }
	.prod{
		size: 50%;
	}
}